@{
    ViewBag.Title = "İletişim Sayfası";
}

<h2 class="text-center">@ViewBag.Title</h2>
<p>
    Curabitur eleifend massa augue, a interdum risus vulputate quis. Etiam at sapien hendrerit, pulvinar leo nec, porttitor lacus. Vivamus leo dui, semper egestas est eget, imperdiet aliquet turpis. Cras elit est, vestibulum a vulputate sed, scelerisque non nunc. Integer tincidunt ipsum ut semper accumsan. Vivamus id nibh eros. Praesent vel pretium sem. Etiam fermentum metus lectus, quis consectetur sapien laoreet sit amet. Proin sed semper libero, nec pulvinar justo. Suspendisse tempus elit ipsum, id molestie ex gravida in.
</p>

<p>

    Nunc rutrum mauris sit amet lectus tempus imperdiet. Fusce magna tortor, aliquam ut vulputate nec, pulvinar mattis ligula. Aliquam elementum nisi est. Nam lacinia in dolor vel consectetur. Morbi eu pulvinar orci, id sollicitudin nisi. Integer imperdiet, libero non consequat luctus, libero dolor volutpat nisl, eget venenatis mi risus id odio. Maecenas efficitur lectus a magna tempus feugiat ut id neque. Nam eget justo in lacus egestas mollis sit amet a mi.
</p>

<p>

    Ut ut placerat magna. Vestibulum hendrerit mauris vel sapien condimentum, sed ultricies mauris rhoncus. Ut a posuere lectus. Vivamus quis pulvinar dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam porta orci et erat fringilla imperdiet. Aliquam id tellus quis ex rutrum facilisis sagittis ut nibh.
</p>

<p>
    Duis id tortor fringilla, dictum neque lacinia, laoreet felis. Aenean porta, diam eu gravida lobortis, leo orci egestas nibh, in ultrices turpis eros quis risus. Nulla dolor mi, pretium id diam id, ullamcorper malesuada nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam a pretium sapien. Morbi ullamcorper aliquam diam eu vestibulum. Aliquam sem neque, sagittis et purus a, elementum pretium lectus. Sed a tincidunt nisl, hendrerit venenatis ante. Nulla mattis sapien ac mauris aliquam, vitae vehicula tortor rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce non risus posuere, congue ipsum in, elementum est.
</p>

<p>
    Maecenas eget dui ante. Phasellus elementum dolor sed leo sodales tincidunt. Phasellus mattis dignissim quam nec eleifend. Aliquam pellentesque massa a purus vulputate mattis. Suspendisse eget est feugiat lectus euismod posuere quis vitae libero. Etiam eget lorem justo. Sed viverra nulla porttitor lorem faucibus sollicitudin. Mauris sed quam fringilla, porta nisl ut, venenatis dolor. Maecenas bibendum ipsum est, pulvinar venenatis est condimentum et. Etiam scelerisque laoreet felis vel rhoncus. Etiam ac porta lacus, quis feugiat urna.

<p>
    Suspendisse pharetra sollicitudin scelerisque. Quisque quis quam at nibh pretium finibus nec at metus. Etiam dictum, libero sit amet consectetur pharetra, tellus risus iaculis augue, ac maximus urna leo nec risus. Pellentesque ante magna, egestas quis justo eu, dictum aliquet quam. Integer id elementum magna. Aenean quis malesuada diam. Quisque eu auctor ante. Proin posuere dolor vitae diam bibendum maximus.
</p>

<p>
    Duis ornare nulla ante, ac posuere lacus vehicula ultrices. Nulla sit amet urna velit. Aliquam laoreet nisi id ipsum interdum, in fringilla magna condimentum. Aenean ac consectetur odio. Phasellus sit amet augue at lorem sollicitudin placerat. Ut bibendum magna et magna sollicitudin, quis suscipit felis convallis. Vivamus fermentum ut magna porta tempor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris non efficitur felis, sit amet commodo diam. Maecenas dapibus, tortor vitae bibendum dignissim, tortor ipsum elementum nisi, et mattis leo orci a arcu. Pellentesque vehicula aliquet lorem, eu finibus urna porttitor ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vestibulum, diam vitae imperdiet scelerisque, lorem magna auctor purus, sed cursus leo eros sit amet ligula.

<p>

    Praesent tincidunt lacinia gravida. Mauris mollis imperdiet cursus. Duis vulputate vitae magna ut luctus. Ut aliquam augue sed purus tincidunt, at rhoncus enim maximus. Aliquam porta eros eu posuere tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo dui, semper quis lorem sed, aliquet tincidunt est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec rhoncus imperdiet magna, sed vestibulum ex accumsan sit amet. Quisque venenatis commodo sem, in auctor felis interdum eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit metus a dolor molestie, vel vestibulum ante varius.
</p>